.screen .tile {
    height: 15px;
}

.screen .row {
    display: inline-block;
    vertical-align: top;
    width: 10px;
}

.screen {
    font-family: monospace;
    font-size: 15px;
    font-weight: bolder;
}
